<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>管理界面</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/custom-styles.css' %}" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
</head>

<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse"
                    data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand waves-effect waves-dark" href=""><i class="large material-icons">insert_chart</i>
                <strong>{{ company }}</strong></a>

            <div id="sideNav" href=""><i class="material-icons dp48">toc</i></div>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a class="dropdown-button waves-effect waves-dark" href="" data-activates="dropdown4"><i
                        class="fa fa-envelope fa-fw"></i>消息<i class="material-icons right">arrow_drop_down</i></a>
            </li>
            <li>
                <a class="dropdown-button waves-effect waves-dark" href="" data-activates="dropdown1"><i
                        class="fa fa-user fa-fw"></i> <b>{{ username }}</b> <i
                        class="material-icons right">arrow_drop_down</i></a>
            </li>
        </ul>
    </nav>
    <ul id="dropdown1" class="dropdown-content">

        <li>
            <a href="#"><i class="fa fa-gear fa-fw"></i> 设置</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
        </li>
    </ul>
    <ul id="dropdown4" class="dropdown-content dropdown-tasks w250">

        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <strong>发送者</strong>
                    <span class="pull-right text-muted">
                                        <em>发送时间</em>
                                    </span>
                </div>
                <div>发送内容</div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a class="text-center" href="#">
                <strong>查看全部</strong>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">

                <li>
                    <a class="active-menu waves-effect waves-dark" href=""><i
                            class="fa fa-dashboard"></i>公司报表</a>
                </li>
                <li>
                    <a href="" class="waves-effect waves-dark"><i class="fa fa-desktop"></i>员工管理 </a>
                </li>
                <li>
                    <a href="" class="waves-effect waves-dark"><i class="fa fa-bar-chart-o"></i>产品监控 </a>
                </li>
                <li>
                    <a href="" class="waves-effect waves-dark"><i class="fa fa-qrcode"></i>官网管理 </a>
                </li>

                <li>
                    <a href="recruitment" class="waves-effect waves-dark"><i class="fa fa-table"></i>招聘发布</a>
                </li>


            </ul>

        </div>

    </nav>

    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                公司报表
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#">首页</a>
                </li>
                <li>
                    <a href="#">公司报表</a>
                </li>
            </ol>

        </div>
        <div>

        </div>

    </div>
</div>
<script src="{% static 'js/jquery-1.10.2.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/materialize.min.js' %}"></script>
<script src="{% static 'js/jquery.metisMenu.js' %}"></script>
<script src="{% static 'js/easypiechart.js' %}"></script>
<script src="{% static 'js/easypiechart-data.js' %}"></script>
<script src="{% static 'js/custom-scripts.js' %}"></script>


</body>

</html>