<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>管理界面</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/custom-styles.css' %}" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
</head>

<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse"
                    data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand waves-effect waves-dark" href=""><i class="large material-icons">insert_chart</i>
                <strong>{{ company }}</strong></a>

            <div id="sideNav" href=""><i class="material-icons dp48">toc</i></div>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a class="dropdown-button waves-effect waves-dark" href="" data-activates="dropdown4"><i
                        class="fa fa-envelope fa-fw"></i>消息<i class="material-icons right">arrow_drop_down</i></a>
            </li>
            <li>
                <a class="dropdown-button waves-effect waves-dark" href="" data-activates="dropdown1"><i
                        class="fa fa-user fa-fw"></i> <b>{{ username }}</b> <i
                        class="material-icons right">arrow_drop_down</i></a>
            </li>
        </ul>
    </nav>
    <ul id="dropdown1" class="dropdown-content">

        <li>
            <a href="#"><i class="fa fa-gear fa-fw"></i> 设置</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
        </li>
    </ul>
    <ul id="dropdown4" class="dropdown-content dropdown-tasks w250">

        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <strong>John Smith</strong>
                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                </div>
                <div>Lorem Ipsum has been the industry's standard dummy text ever since the...</div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a class="text-center" href="#">
                <strong>查看全部</strong>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">

                <li>
                    <a class="waves-effect waves-dark" href=""><i
                            class="fa fa-dashboard"></i>公司报表</a>
                </li>
                <li>
                    <a href="" class="waves-effect waves-dark"><i class="fa fa-desktop"></i>员工管理 </a>
                </li>
                <li>
                    <a href="" class="waves-effect waves-dark"><i class="fa fa-bar-chart-o"></i>产品监控 </a>
                </li>
                <li>
                    <a href="" class="waves-effect waves-dark"><i class="fa fa-qrcode"></i>官网管理 </a>
                </li>

                <li>
                    <a href="" class="active-menu  waves-effect waves-dark"><i class="fa fa-table"></i>招聘发布</a>
                </li>


            </ul>

        </div>

    </nav>

    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                招聘发布
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#">首页</a>
                </li>
                <li>
                    <a href="#">招聘发布</a>
                </li>
            </ol>

        </div>

        <div style="margin-left: 2em;">
            <form style="text-align: left" action="recruitment" method="post">
                <div class="pos_base_info">
                    <label for="id_title">招聘标题:</label>

                    <input type="text"
                           name="title"
                           maxlength="100"
                           required=""
                           placeholder="工种"
                           id="id_title"
                           style="background-color: white;width: auto;">
                    <label for="id_title">薪资范围:</label>

                    <input type="number" name="low_remuneration" required=""
                           style="width: auto;background-color: white" placeholder="最低报酬"
                           id="id_low_remuneration">---<input type="number"
                                                              name="high_remuneration" required=""
                                                              placeholder="最高报酬"
                                                              style="width: auto;background-color: white"
                                                              id="id_high_remuneration">
                    <span class="font18">元/月</span>
                    <div>

                        <label for="id_recruit_num">招收人数:</label>
                        <input type="number" name="recruit_num" required="" style="width: auto;background-color: white"
                               id="id_recruit_num">
                        <label for="id_experience">经验要求:</label>
                        <select name="experience" required="" id="id_experience"
                                style="width: auto;background-color: white;display:inline">

                            <option value="L" selected>经验不限</option>

                            <option value="H">有类似工作经验</option>

                        </select>
                        <label for="id_record_schooling">学历要求:</label>
                        <select name="record_schooling" required="" id="id_record_schooling"
                                style="width: auto;background-color: white;display:inline">

                            <option value="L" selected="selected">学历不限</option>

                            <option value="M">中专及以上学历</option>

                            <option value="D">大专及以上学历</option>

                            <option value="C">本科及以上学历</option>

                        </select>
                        <label>性别:</label>
                        <select name="gender" required="" id="id_gender" style="width: auto;background-color: white;display:inline">

                            <option value="M" selected="selected" >男</option>

                            <option value="L">女</option>

                        </select>
                    </div>
                    <div>
                        <label for="id_contact_phone">联系方式:</label><input type="text" name="contact_phone"
                                                                          maxlength="11"
                                                                          style="width: auto;background-color: white;"
                                                                          required="" id="id_contact_phone">
                        <label for="id_work_address">工作地点:</label>
                        <input type="text" name="work_address" maxlength="32" required=""
                               style="width: auto;min-width: 20%;background-color: white;" id="id_work_address">
                    </div>
                    <div>
                        <label for="id_position_describe">岗位职责:</label>
                        <br>
                        <textarea name="position_describe" cols="40"
                                  rows="10"
                                  maxlength="3000" required=""
                                  id="id_position_describe" style="width: 80%;background-color: white;min-height:20em">

                    </textarea>
                    </div>
                    <div>
                        <label for="id_job_specification">任职要求:</label>
                        <br>
                        <textarea name="job_specification" cols="40"
                                  rows="10"
                                  maxlength="3000" required=""
                                  id="id_job_specification"
                                  style="width: 80%;background-color: white;min-height:20em"></textarea>
                    </div>
                    <div>
                        <label for="id_salary_specification">工资薪资:</label>
                        <br>
                        <textarea name="salary_specification" cols="40"
                                  rows="10" maxlength="2000" required=""
                                  id="id_salary_specification"
                                  style="width: 80%;background-color: white;min-height:20em"></textarea>
                    </div>
                    <div>
                        <label for="id_welfare_treatment">福利待遇:</label>
                        <br>
                        <textarea name="welfare_treatment" cols="40"
                                  rows="10"
                                  maxlength="2000" required=""
                                  id="id_welfare_treatment"
                                  style="width: 80%;background-color: white;min-height:20em"></textarea>
                    </div>

                </div>
                <div style="text-align: right;width: 80%">
                    <input type="submit" value="提交" style="">

                </div>
            </form>
        </div>

    </div>
    <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/easypiechart.js' %}"></script>
    <script src="{% static 'js/easypiechart-data.js' %}"></script>
    <script src="{% static 'js/custom-scripts.js' %}"></script>

</div>
</body>

</html>